/* CSS PER LA PAGINA */
header{
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
    justify-content: space-between;
    align-items: center;
}

h1{
    font-size: 60px;
    font-weight: 900;
}

h2{font-size: 30px;}

#textDecoration{
    text-decoration: underline;
    color: blue;
}

main{
    margin-bottom: 10em;
    padding-top: 5em;
}

footer{
    color: white;
    padding: 3em;
}

li{
    list-style-type: none;
    line-height: 1.5em;
}
/* HEADER */

.navStart, .navEnd{
    justify-content: center;
    align-items: center;
}

.navStart div, .navEnd div{
    margin: 0.5em;
    padding: 1em;
}

.link{
    height: 100%;
}
header a{
    text-decoration: none;
    color: black;
}

header .link:hover{
    border-bottom: 3px solid black;
    transition: 0.1s;
}

.buttonBlue{
    padding: 0.3em;
    border: 1px solid #0061ff;
    cursor: pointer;
    color: white;
}

.navButton:hover, .logo:hover{
    border-bottom: 3px solid #0061ff;
}

/* MAIN */

/* < !-- intestazione della pagina --> */
.heading{
    margin: 0 auto;
    padding-top: 5em;
    max-height: 710px;
}

.imgHeading img{
    width: 100%;
}

.contentHeading{
    margin-top: 4.5em;
}

.content button{
    margin-top: 2em;
    padding: 1.3em;
    margin-bottom: 2em;
}

.content .icon{
    font-size: 40px;
    margin-top: 2.5em;
    cursor: pointer;
}

.icon a{
    color: black;
}

/* < !-- piani di pagamento --> */

.boxedPlans{
    
    margin: 7em auto 3em auto;
    padding-top: 1em;
}

.checkbox {
    margin-top: 4.5em;
    margin-bottom: 3em;
}

.checkbox span{
    margin-right: 3em;
}

.plans{
    justify-content: space-between;
}
.plans h5, .contacts h5{
    padding: 1em;
    border-bottom: 1px solid lightgray;
}

.plan{
    line-height: 1.5em;
    width: calc(100% / 3 - 2em);
    border: 1px solid lightgray;
}

.cost, .info, .plusPoints{
    margin: 2rem;
}

.cost{
    margin-bottom: 3rem;
    line-height: 2em;
}

.planButton{
    justify-content: center;
    margin: 3em;
}

.check{
    line-height: 2;
}



/* < !-- contatta l'ufficio vendite --> */

.contacts{
    border: 1px solid lightgray;
    margin: 3em auto 8em auto;
}

.contacts .col-30{
    justify-content: center;
    align-items: flex-start;
}

.contacts .flex.row{
    padding: 1em;
}

/* < !-- contatta un partner --> */

.partner{margin: 0 auto 9em auto;}

.imgPartner{min-height: 500px; }

.infoPartner{padding: 5em;}

.infoPartner button{padding: 1em;}

/* < !-- esegui più operazioni --> */

.operation{margin: 0 auto 10em auto;}

.operation div.flex{
    justify-content: space-between;
    margin-top: 4.5em;
}

.card{
    min-height: 460px; /* momentanea */
    width: calc(100% / 3 - 2em);
}

/* < !-- numero di team che utilizzano dropbox --> */

.team{margin: 0 auto 9em auto;}

.team h2{
    margin-bottom: 2em;
}

/* < !-- sponsor --> */

.sponsor{
    width: calc(100% / 3);
    height: calc(100vw / 3);
    background-color: yellow; /* momentanea */
    border: 1px solid black; /* momentanea */
}

.singleSponsor{
    border: 1px solid red; /* momentanea */
}

/* < !-- prova gratutita --> */

.freeTrial{
    justify-content: space-around;
    align-items: center;
    padding: 8.5em;
    margin-bottom: 10em;
}

.freeTrial h2{
    padding: 1em;
}

.freeTrial .freeTrialButton button{
    padding: 1em;
}

/* < !-- FAQ --> */

.faq{
    margin: 0 auto;
}

.request{
    line-height: 5em;
}

/* FOOTER */

.footerTop, .footerBottom{
    margin: 0 auto 3em auto;
}

.footerTop{
    justify-content: space-between;
    align-items: center;
}

.footerBottom{
    line-height: 8em;
}

.list{
    width: calc(100% / 5 - 2em);
    height: 222px; /* momentanea */
    background-color: darkorange; /* momentanea */
    border: 1px solid white; /* momentanea */
}

