/* CSS PER LA PAGINA */
header{
    background-color: aqua; /* momentanea */
    height: 70px; /* momentanea */
    justify-content: space-between;
    align-items: center;
}

h1{font-size: 60px;}

h2{font-size: 30px;}

#textDecoration{
    text-decoration: underline;
    color: blue;
}


/* HEADER */

.navStart, .navEnd{
    justify-content: center;
    align-items: center;
}

.navStart div, .navEnd div{
    background-color: bisque; /* momentanea */
    border: 1px solid black; /* momentanea */
    margin: 1em;
    padding: 1.2em;
}

header a{
    text-decoration: none;
    color: black;
}

.content{
    min-height: 397px; /* momentanea */
    background-color: brown; /* momentanea */
    border: 1px solid black; /* momentanea */
}

.imgHeading {
    min-height: 397px; /* momentanea */
    background-color: brown; /* momentanea */
    border: 1px solid black; /* momentanea */
}

/* MAIN */


/* < !-- intestazione della pagina --> */
.heading{
    min-height: 500px; /* momentanea */
    background-color: blue; /* momentanea */
    margin: 0 auto;
    padding: 1em;
}

.contentHeading{
    margin-top: 4.5em;
}

/* < !-- piani di pagamento --> */

.boxedPlans{
    height: 1200px; /* momentanea */
    background-color: blueviolet; /* momentanea */
    margin: 3em auto 3em auto;
    padding-top: 1em;
}

.checkbox {
    margin-top: 4.5em;
    margin-bottom: 3em;
}

.plans{
    justify-content: space-between;
    background-color:crimson; /* momentanea */
}

.plans h5, .contacts h5{
    padding: 1em;
    border-bottom: 1px solid black;
}

.plan{
    width: calc(100% / 3 - 2em);
    background-color: chartreuse; /* momentanea */
    height: 955px; /* momentanea */
    border: 1px solid black; /* momentanea */
}

/* < !-- contatta l'ufficio vendite --> */

.contacts{
    min-height: 256px; /* momentanea */
    background-color: chocolate; /* momentanea */
    margin: 3em auto 8em auto;
}

.contacts > .flex > div{
    height: 216px; /* momentanea */
    border: 1px solid black; /* momentanea */
    background-color: coral; /* momentanea */
}

/* < !-- contatta un partner --> */

.partner{
    background-color: darkcyan; /* momentanea */
    margin: 0 auto 9em auto;
}

.imgPartner{
    height: 500px; /* momentanea */
    background-color: cornflowerblue; /* momentanea */
    border: 1px solid black; /* momentanea */
}

.infoPartner{
    border: 1px solid black; /* momentanea */
}

/* < !-- esegui più operazioni --> */

.operation{
    height: 1115px; /* momentanea */
    background-color: darkgray; /* momentanea */
    margin: 0 auto 10em auto;
}

.operation div.flex{
    justify-content: space-between;
    height: 994px; /* momentanea */
    background-color: cornflowerblue; /* momentanea */
    margin-top: 4.5em;
}

.card{
    height: 460px; /* momentanea */
    width: calc(100% / 3 - 2em);
    border: 1px solid black; /* momentanea */
    background-color: yellowgreen; /* momentanea */
}

/* < !-- numero di team che utilizzano dropbox --> */

.team{
    height: 210px; /* momentanea */
    background-color: red;
    margin: 0 auto;
}

.team h2{
    margin-bottom: 2em;
}